<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="MyTest1" connectionString="data source=localhost;initial catalog=MyTest1;user id=sa;password=wj1034184751;MultipleActiveResultSets=True;App=EntityFramework;Connect Timeout=500" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>